@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$darkgrey: #252525;
$lightblue: #182635;
$darkblue: #0E141B;

html {
  font-family: 'Rubik', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkblue;
  color: white;
  font-family: 'Rubik', sans-serif;
  overflow-y:scroll;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.3);
  background-color:$darkgrey;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color:$darkgrey;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 0px solid #555555;
}

header, footer {
  background-color: $lightblue;
}