@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$darkgrey: #252525;
$lightblue: rgb(24, 38, 53);
$darkblue: rgb(14, 20, 27);

html {
  font-family: 'Rubik', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $darkblue;
  color: white;
  font-family: 'Rubik', sans-serif;
  
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.3);
  background-color:$darkblue;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color:$darkblue;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 0px solid #555555;
}

header, footer {
  background-color: $lightblue;
}

a, a:hover {
  color: white;
}

blockquote {
  border-left: 3px solid white;
  padding: 5px 1rem 5px 1rem;
  background-color: $lightblue;
  
}

blockquote > p {
  font-weight: 300;
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 5px;
}

hr {
  border-color: $lightblue;
  border: 1px solid;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.particle-bg {
  height:100vh;
}
