$lightblue: #182635;
$darkblue: #0E141B;

.footer {
    background-color: $lightblue;
}

.header {
    background-color: $lightblue;
    color: white;
}

.container {
    display: flex;
    margin: auto;
    max-width: 720px;
    flex-direction: column;
    min-height: 100vh;
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 2rem;
}

.content {
    flex-grow: 1;
    padding: 2rem 0rem 3rem 0rem;
}

.review-card {
    width: 150px;
    height: 250px;
    background-color: $lightblue;
    display: block;
}

.review-image {
    width: 150px;
    height: 200px;
}

.review-title {
 
    transition: opacity .2s, visibility .2s;
}
