$lightblue: rgb(24, 38, 53);
$darkblue: rgb(14, 20, 27);

.card {
  background-color: $darkblue;
  color: inherit;
  margin-bottom: 2rem;
  padding: 0;
}

.img {
  object-fit: contain;
  height:250px;
}

